.bi-camera-fill {
    position: absolute;
    font-size: 20px;
    top: 88px;
    left: 330px;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    border-radius: 50%;
}

.bi-search {
    cursor: pointer;
}